:root {
  --box: #f2e709;
  --letter: #fff;
  --back: #373666;
  --symbol: #766df2;
}

html,
body {
  box-sizing: border-box;
  background-color: var(--back);
  height: 100%;
  padding: 10px;
  margin: 0px;
}
.game {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: auto;
  justify-content: center;
}

/* testing below */

.namesForm {
  display: grid;
  grid-template-columns: 12fr;
  margin-bottom: 12px;
}
.playerNames,
.btns {
  justify-self: center;
  justify-content: center;
}

input[type="text"],
select {
  width: 90%;
  padding: 3px 5px;
  margin: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4%;
  font-size: 1.5em;
}

button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* testing  */

.container {
  display: grid;
  background-color: var(--back);
  width: fit-content;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5em;
}
.box {
  background: var(--box);
  color: var(--letter);
  border-radius: 4%;
}
.box:hover {
  cursor: pointer;
  background: var(--symbol);
}
.reset {
  justify-self: center;
}
.reset > button {
  height: 3em;
  width: 7em;
  margin-top: 2em;
  background: var(--letter);
  color: var(--symbol);
  font-size: 1.5em;
  font-weight: 2em;
  border-radius: 2em;
  border: 0;
}
.reset > button:hover {
  cursor: pointer;
  background: var(--box);
  color: #f02d2d;
}
.player {
  color: var(--letter);
  font-size: 2em;
  width: 140px;
  height: 50px;
  padding-left: 25px;
}
.symbol {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--symbol);
  width: 100px;
  height: 100px;
  border-radius: 4%;
  margin-left: 25px;
  color: var(--letter);
  font-size: 5.5em;
}

/* .UI-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 15em);
  grid-gap: 2em;
  margin-top: 2em;
} */

#p1 {
  color: var(--box);
}
#p2 {
  color: var(--letter);
}
