:root {
  --box: #f2e709;
  --letter: #fff;
  --back: #373666;
  --symbol: #766df2;
}

html,
body {
  box-sizing: border-box;
  background-color: var(--back);
  height: 100%;
  padding: 10px;
  margin: 0px;
}
.wrapper {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: auto;
  justify-content: center;
  /* background-color: #373666; */
}
.container {
  display: grid;
  background-color: var(--back);
  /* border: 1px solid black; */
  /* height: 100%; */
  width: fit-content;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5em;
}
.box {
  background: var(--box);
  color: var(--letter);
  border-radius: 4%;
}
.player {
  color: var(--letter);
  font-size: 2em;
  width: 130px;
  height: 50px;
  padding-left: 25px;
}
.symbol {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--symbol);
  width: 100px;
  height: 100px;
  border-radius: 4%;
  margin-left: 25px;
  color: var(--letter);
  font-size: 5.5em;
}
#p1 {
  color: var(--box);
}
#p2 {
  color: var(--letter);
}
